@import "tailwindcss";

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway-v37-latin-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/raleway-v37-latin-700.woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('./assets/fonts/open-sans-v37-latin-regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url('./assets/fonts/open-sans-v37-latin-700.woff2');
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-header: Raleway, sans-serif;
  --font-body: Open-Sans, sans-serif
}